.App {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3.2rem;

  &__Dropdown {
    z-index: 1;
    margin-bottom: 3rem;
  }

  &__Animated_Block {
    opacity: 0;
    visibility: visible;
    transform: translateY(-20px);
    transition: all 0.3s ease-in;

    &--loaded {
      opacity: 1;
      transform: translateY(0);
      visibility: visible;
    }
  }
}
