.DropdownItem {
  position: relative;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-top: 1px solid #f0eee9;
  padding: 2rem;

  font-size: 1.8rem;

  &__Icon {
    width: 2.1rem;
    height: 2.1rem;
    fill: var(--color-primary);
  }

  &__Name {
    &:hover {
      color: var(--color-secondary);
    }
  }
}
